@model webHttpTest.Models.TraceRtViewModel

@{
    ViewData["Title"] = "Trace Route";
}

<h1 class="pb-3">Request</h1>
<form method="post">
    <div>
        <div class="form-group row">
            <label class="col-sm-2" asp-for="DestinationHost"></label>
            <input class="form-control col-sm-5" id="host" asp-for="DestinationHost" />
        </div>
    </div>
    <input class="btn btn-primary" type="submit" asp-controller="TraceRoute" asp-action="Index" id="submit"></input>
</form>
<hr />
<h1 class="pb-3">Response</h1>

@if (!string.IsNullOrEmpty(Model.ErrorText))
{
    <div class="row alert alert-danger pb-3" role="alert">
        @Html.DisplayText("ErrorText")
    </div>
}

<div>
@if (Model.Results != null)
{
    foreach (var result in Model.Results)
    {
        @:<div class="row">
        @:    <code class="col-sm-1">@result.hop</code>
        @:    <code class="col-sm-1">@result.FormattedEt1</code>
        @:    <code class="col-sm-1">@result.FormattedEt2</code>
        @:    <code class="col-sm-1">@result.FormattedEt3</code>
        @:    <code class="col-sm-8">@result.FormattedHostName</code>
        @:</div>
       }
}
</div>

@section Scripts
{
<script>
$(function(){
  $('#submit').on('click', function(){
    $(this).toggleClass('animate');
  })
});
</script>
}


