@model webHttpTest.Models.HostingEnvironment

@{
    ViewData["Title"] = "Home Page";
}

<p>This data can also be retrieved by calling <a href = "/api/environment" target="_blank">/api/environment</a></p><hr />

<div class="row"><div class="col-sm-4"><strong>Machine Name:</strong></div><div class="col-sm-4"> @Model.MachineName</div></div><hr />
<div class="row"><div class="col-sm-4"><strong>Host Name:</strong></div><div class="col-sm-4"> @Model.HostName</div></div><hr />

<p><strong>IP4 Addresses:</strong></p>
<hr/>
<div>
    @{
    foreach (var ip in Model.IpAddresses)
    {
        <div class="row"><div class="col-sm-4">@ip</div></div><hr />
    }
    }
</div>
<p><strong>Environment Variables:</strong></p>
<hr/>
<div>
    @{
    foreach (var env in Model.EnvironmentVariables)
    {
        <div class="row"><div class="col-sm-4">@env.Key</div><div class="col-sm-4">@env.Value</div></div><hr />
    }
    }
</div>